*{
    font-family: 'Verdana', 'Geneva', sans-serif;

}

body, html{
    background-color: #c0ecfc;
    
}

a {
    text-decoration: none;
}
.sidebar {
    
    height: 100%; 
    background-color: #c0ecfc; 
    max-height: 100vh; 
    overflow-y: auto;
  }

  .profile-images-container {
    position: relative;
  }  

    /*----------------------- PFP styling -----------------------*/
  .profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .overlapping-image {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .main-content {
    padding: 20px;
  }

  .main-content h1,
        .main-content h2,
        .main-content h3,
        .main-content h4,
        .main-content h5,
        .main-content h6 {
            margin: 0;
            padding: 0;
        }

    /*----------------------- NAVBAR styling -----------------------*/
  .navbar {
    padding: 10px;
    border-radius: 0;
  }

  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  .navbar-nav {
    margin-left: auto; 
    display: flex; 
    align-items: center; 
  }

  .nav-item {
    margin-right: 10px; 
  }

  .nav-link {
    color: #000000;
    font-weight:bold;
    margin: 0 10px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-link:hover {
    color: #ff3f00; 
    
  }

   /*----------------------- SETTINGS ICON styling -----------------------*/
  .navbar-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .navbar-icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  #map-placeholder {
    width: 100%;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-box-container {
    width: 100%; /* Make it fill the entire width of the parent */
    box-sizing: border-box; /* Include padding and border in the total width */
    padding: 10px; /* Add padding if needed */
}


    /*----------------------- POSTS styling -----------------------*/

  .post-box {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #fff;
    
   
  }

  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }

  .profile-info {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5) ;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #fff;
  }

  .post-buttons {
    display: flex;
    justify-content: space-between;
  }

  .post-button {
    flex: 0 0 30%;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    color: #000000;
    text-align: center;
    font-weight:600;
    cursor: pointer;
    border: 1px solid #fff;
  }

  .post-container {
    border: 1px solid #ddd; 
    padding: 30px; 
    margin-bottom: 20px;
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .post-image{
    max-width: 50px; /* Set the maximum width of the post image to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
  }
